/*--text-color: #434455*/
/*--title-color: #2E2F42*/
/*--primary-band: #4D5AE5*/
/*--footer color: #E7E9FC*/

:root {
  --text-color: #434455;
  --title-color: #2e2f42;
  --primary-band: #4d5ae5;
  --footer-color: #e7e9fc;
  --background-color: #e5e5e5;
  --button-hover-color: #404bbf;
  --background-team-color: #f4f4fd;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

img {
  display: block;
}

.body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--background-color);
}

/*Container*/

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

.hero-container {
  text-align: center;
}

.main-container {
  display: flex;
  align-items: center;
}

/*Header*/

.header {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list {
  list-style: none;
  display: flex;
}

.page-nav {
  display: flex;
  align-items: center;
}

.btm {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: var(--primary-band);
  border-radius: 4px;
  border: 1px var(--primary-band);
  cursor: pointer;
  width: 170px;
  height: 51px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btm:hover,
.btm:focus {
  background-color: var(--button-hover-color);
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--title-color);
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 77px;
}

.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.header-list-item {
  margin-right: 40px;
}

.header-link:hover,
.header-link:focus {
  color: var(--primary-band);
}

.header-contacts {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.header-contact {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
  text-decoration: none;
}

.header-contact:hover,
.header-contact:focus {
  color: var(--primary-band);
}

/*HERO*/

.hero-section {
  text-align: center;
  background-color: var(--title-color);
  padding-top: 192px;
  padding-bottom: 192px;
}

.hero-text-top {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 1;
  color: white;
  text-align: center;
  max-width: 492px;
  margin: 0 auto;
  margin-bottom: 48px;
}

/*Main*/

.main-title-list {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color);
  margin-bottom: 8px;
}

.main-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  width: 264px;
  height: 72px;
}

.main-title {
  list-style: none;
  display: flex;
  gap: 24px;
}

.main-section {
  padding-top: 120px;
}

/*Doing*/

.doing-list-item {
  list-style: none;
}

.doing-list {
  display: flex;
  gap: 24px;
}

.doing-title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  color: var(--title-color);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

/*Team*/

.team {
  background-color: #f4f4fd;
}

.team-work {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.1;
  color: var(--title-color);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-text {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  text-align: center;
}

.team-list {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  margin-top: 8px;
}

.team-card {
  list-style: none;
  display: flex;
  border-radius: 0px 0px 4px 4px;
  gap: 24px;
}

.team-background {
  background-color: #ffffff;
}

.social {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 24px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.social-list-item {
  display: flex;
  align-items: center;
  grid-gap: 24px;
  border-radius: 50px;
}

.social-list-icon {
  width: 40px;
  height: 40px;
}

.social-list-item.instagram{
background-image: url(/images/icons.svg#icon-insta);
}

/*PORTFOLIO*/

/*Portfolio-Header*/
.portfolio-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/*Portfolio-Button*/
.btm-portfolio {
  list-style: none;
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.btm-all {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--button-hover-color);
  background-color: var(--background-team-color);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #e7e9fc;
}
.btm-all:hover,
.btm-all:focus {
  color: #ffffff;
  background-color: var(--primary-band);
}

.btm-web-site {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color: var(--button-hover-color);
  background-color: var(--background-team-color);
  border-radius: 4px;
  border: 1px solid #e7e9fc;
}

.btm-web-site:hover,
.btm-web-site:focus {
  color: #ffffff;
  background-color: var(--primary-band);
}

.portfolio-btm {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  color: var(--button-hover-color);
  background-color: var(--background-team-color);
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
}

.portfolio-btm:hover,
.portfolio-btm:focus {
  color: #ffffff;
  background-color: var(--primary-band);
}

/*Menu*/
.menu-list {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.menu-text-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-top: 8px;
}

.portfolio-card {
  width: 360px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-text {
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 0.5px solid #f4f4fd;
  border-top: none;
}

.menu-portfolio-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-menu-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/*Footer*/

.footer-logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}

.web {
  color: var(--primary-band);
}

.footer-title {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  width: 264px;
  left: 156px;
  top: 2383px;
  margin-top: 16px;
}

.footer {
  padding-top: 100px;
  padding-right: 0 auto;
  padding-bottom: 100px;
  background-color: var(--title-color);
}
